{{ header }} {{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-vendor" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="alert alert-success"><i class="fa fa-info-circle"></i> {{ text_feedback }}</div>
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %} 
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-vendor" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="input-status">{{ entry_status }}</label>
                        <div class="col-sm-9">
                            <select name="module_lts_vendor_status" id="input-status" class="form-control">
                                {% if module_lts_vendor_status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <hr>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
                        <li><a href="#tab-product" data-toggle="tab">{{ tab_product }}</a></li>
                            
                        <li><a href="#tab-order" data-toggle="tab">{{ tab_order }}</a></li>
                        <li><a href="#tab-profile" data-toggle="tab">{{ tab_profile }}</a></li>
                        <li><a href="#tab-commission" data-toggle="tab">{{ tab_commission }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-name">{{ entry_vendor_registration }}</label>
                                <div class="col-sm-9">
                                    <select name="module_lts_vendor_registration" id="input-status" class="form-control">
                                        {% if module_lts_vendor_registration %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>  
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-name">{{ entry_vendor_approval }}</label>
                                <div class="col-sm-9">
                                    <select name="module_lts_vendor_approval" id="input-status" class="form-control">
                                        {% if module_lts_vendor_approval	 %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>  
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-name">{{ entry_product_approval }}</label>
                                <div class="col-sm-9">
                                    <select name="module_lts_vendor_product_approval" id="input-status" class="form-control">
                                        {% if module_lts_vendor_product_approval %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>  
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-name">{{ entry_category_approval }}</label>
                                <div class="col-sm-9">
                                    <select name="module_lts_vendor_category_approval" id="input-status" class="form-control">
                                        {% if module_lts_vendor_category_approval %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>  
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-name">{{ entry_review_action }}</label>
                                <div class="col-sm-9">
                                    <select name="module_lts_vendor_review_action" id="input-status" class="form-control">
                                        {% if module_lts_vendor_review_action %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>  
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-name">{{ entry_vendor_name_in_cart }}</label>
                                <div class="col-sm-9">
                                    <select name="module_lts_vendor_name_in_cart" id="input-status" class="form-control">
                                        {% if module_lts_vendor_name_in_cart %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-product">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-status">{{ entry_pincode_checker }}</label>
                                <div class="col-sm-9">
                                    <div class="well well-sm" style="height: 80px; overflow: auto;">
                                        <div class="checkbox"> 
                                            <label> 
                                                {% if admin_pincode %}
                                                    <input type="checkbox" name="module_lts_vendor_pincode_checker[admin]" value="admin" checked="checked" /> {{ text_admin }}
                                                {% else %}
                                                    <input type="checkbox" name="module_lts_vendor_pincode_checker[admin]" value="admin"/> {{ text_admin }}
                                                {% endif %}
                                            </label>
                                        </div>
                                      {#   <div class="checkbox"> 
                                            <label> 
                                                {% if vendor_pincode %}
                                                    <input type="checkbox" name="module_lts_vendor_pincode_checker[vendor]" value="vendor" checked="checked" /> {{ text_vendor }}
                                                {% else %}
                                                    <input type="checkbox" name="module_lts_vendor_pincode_checker[vendor]" value="vendor"/> {{ text_vendor }}
                                                {% endif %}
                                            </label>
                                        </div> #}

                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-multi-product">{{ entry_multi_product_action }}</label>
                                <div class="col-sm-9">
                                    <select name="module_lts_vendor_multi_product" id="input-multi-product" class="form-control">
                                        {% if module_lts_vendor_multi_product %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>  

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-name">{{ entry_product_category }}</label>
                                <div class="col-sm-9">
                                    <select name="module_lts_vendor_category_required" id="input-status" class="form-control">
                                        {% if module_lts_vendor_category_required %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-name">{{ entry_admin_receive_mail_product_add }}</label>
                                <div class="col-sm-9">
                                    <select name="module_lts_vendor_admin_receive_mail_product_add" id="input-status" class="form-control">
                                        {% if module_lts_vendor_admin_receive_mail_product_add %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-name">{{ entry_seller_delete_product }}</label>
                                <div class="col-sm-9">
                                    <select name="module_lts_vendor_delete_product" id="input-status" class="form-control">
                                        {% if module_lts_vendor_delete_product %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div> 

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-name">{{ entry_product_tab }}</label>
                                <div class="col-sm-9">
                                    <div class="well well-sm" style="height: 150px; overflow: auto;">
                                        <div class="checkbox"> 
                                            <label> 
                                                {% if links %}
                                                    <input type="checkbox" name="module_lts_vendor_product_tab[links]" value="{{ links }}" checked="checked" /> {{ tab_links }}
                                                {% else %}
                                                    <input type="checkbox" name="module_lts_vendor_product_tab[links]" value="links"/> {{ tab_links }}
                                                {% endif %}
                                            </label>
                                        </div>
                                        <div class="checkbox"> 
                                            <label>
                                                {% if attribute %}
                                                    <input type="checkbox" name="module_lts_vendor_product_tab[attribute]" value="attribute" checked="checked" /> {{ tab_attribute }}
                                                {% else %}
                                                    <input type="checkbox" name="module_lts_vendor_product_tab[attribute]" value="attribute" /> {{ tab_attribute }}
                                                {% endif %}
                                            </label>

                                        </div>
                                        <div class="checkbox"> 
                                            <label> 
                                                {% if option %}
                                                    <input type="checkbox" name="module_lts_vendor_product_tab[option]" value="{{ option }}" checked="checked" /> {{ tab_option }}
                                                {% else %}
                                                    <input type="checkbox" name="module_lts_vendor_product_tab[option]" value="option"  /> {{ tab_option }}
                                                {% endif %}
                                            </label>
                                        </div>
                                        <div class="checkbox"> 
                                            <label> 
                                                {% if discount %}
                                                    <input type="checkbox" name="module_lts_vendor_product_tab[{{ discount }}]" value="{{ discount }}" checked="checked" /> {{ tab_discount }}
                                                {% else %}
                                                    <input type="checkbox" name="module_lts_vendor_product_tab[discount]" value="discount" /> {{ tab_discount }}
                                                {% endif %}
                                            </label>
                                        </div>
                                        <div class="checkbox"> 
                                            <label> 
                                                {% if special %}
                                                    <input type="checkbox" name="module_lts_vendor_product_tab[{{ special }}]" value="{{ special }}" checked="checked" /> {{ tab_special }}
                                                {% else %}
                                                    <input type="checkbox" name="module_lts_vendor_product_tab[special]" value="special" /> {{ tab_special }}
                                                {% endif %}
                                            </label>
                                        </div>
                                        <div class="checkbox"> 
                                            <label> 
                                                {% if image %}
                                                    <input type="checkbox" name="module_lts_vendor_product_tab[{{ image }}]" value="{{ image }}" checked="checked" /> {{ tab_image }}
                                                {% else %}
                                                    <input type="checkbox" name="module_lts_vendor_product_tab[image]" value="image" /> {{ tab_image }}
                                                {% endif %}
                                            </label>
                                        </div>
                                        <div class="checkbox"> 
                                            <label> 
                                                {% if reward %}
                                                    <input type="checkbox" name="module_lts_vendor_product_tab[{{ reward }}]" value="{{  reward }}" checked="checked" /> {{ tab_reward }}
                                                {% else %}
                                                    <input type="checkbox" name="module_lts_vendor_product_tab[reward]" value="reward" /> {{ tab_reward }}				                    	
                                                {% endif %}
                                            </label>
                                        </div>
                                        <div class="checkbox"> 
                                            <label>
                                                {% if seo %}
                                                    <input type="checkbox" name="module_lts_vendor_product_tab[{{ seo }}]" value="{{ seo }}" checked="checked" /> {{ tab_seo }}
                                                {% else %}
                                                    <input type="checkbox" name="module_lts_vendor_product_tab[seo]" value="seo" /> {{ tab_seo }}
                                                {% endif %}
                                            </label>
                                        </div>
                                        <div class="checkbox"> 
                                            <label>
                                                {% if design %}
                                                    <input type="checkbox" name="module_lts_vendor_product_tab[{{ design }}]" value="{{ design }}" checked="checked" /> {{ tab_design }}
                                                {% else %}
                                                    <input type="checkbox" name="module_lts_vendor_product_tab[design]" value="design" /> {{ tab_design }}
                                                {% endif %}
                                            </label>
                                        </div>
                                    </div>
                                    
                                    <button type="button" onclick="$(this).parent().find(':checkbox').prop('checked', true);" class="btn btn-link">{{ text_select_all }}</button> / <button type="button" onclick="$(this).parent().find(':checkbox').prop('checked', false);" class="btn btn-link">{{ text_unselect_all }}</button>
                              
                                </div>
                            </div> 
                        </div>
                        {#  <div class="tab-pane" id="tab-commission">
                             I Am a commmission
                         </div> #}

                        <div class="tab-pane" id="tab-order">
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-name">{{ entry_vendor_can_change_status }}</label>
                                <div class="col-sm-9">
                                    <select name="module_lts_vendor_vendor_can_change_order_status" id="input-status" class="form-control">
                                        {% if module_lts_vendor_vendor_can_change_order_status %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div> 

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-name">{{ entry_order_status_change_by_vendor }}</label>
                                <div class="col-sm-9">
                                    <select name="module_lts_vendor_order_status_change_by_vendor" id="input-status" class="form-control">
                                        {% if module_lts_vendor_order_status_change_by_vendor %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-name">{{ entry_vendor_receive_mail_product_purchase }}</label>
                                <div class="col-sm-9">
                                    <select name="module_lts_vendor_receive_mail_product_purchase" id="input-status" class="form-control">
                                        {% if module_lts_vendor_receive_mail_product_purchase %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div> 
                        </div> 
                        <div class="tab-pane" id="tab-profile">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-name">{{ entry_customer_can_see_vendor_email }}</label>
                                <div class="col-sm-9">
                                    <select name="module_lts_vendor_customer_can_see_vendor_email" id="input-status" class="form-control">
                                        {% if module_lts_vendor_customer_can_see_vendor_email %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div> 

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-name">{{ entry_customer_can_see_vendor_telephone }}</label>
                                <div class="col-sm-9">
                                    <select name="module_lts_vendor_customer_can_see_vendor_telephone" id="input-status" class="form-control">
                                        {% if module_lts_vendor_customer_can_see_vendor_telephone %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div> 
                        </div>
                         <div class="tab-pane" id="tab-commission">

                         </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}
